In [13]:
# читаю библиотеку
import pandas as pd


# знакомлюсь с новыми таблицами
raitings1_df = pd.read_csv('data/ratings1.csv', sep=',')
raitings2_df = pd.read_csv('data/ratings2.csv', sep=',')
movies_df = pd.read_csv('data/movies.csv', sep=',')
dates_df = pd.read_csv('data/dates.csv', sep=',')

# выстравляем индексы верно при помощи параметра  ignore_index=True
raitings = pd.concat(
    [raitings1_df, raitings2_df],
    ignore_index=True
)


# убираем дубликаты и правим индекс
raitings.drop_duplicates(ignore_index=True)
# конкатенируем таблицы по столбцам по столбцам при помощи axis=1
raitings_dates = pd.concat(
    [raitings, dates_df],
    axis=1
)

In [17]:
display(raitings_dates.head(10))
display(movies_df.head(10))

   userId  movieId  rating                 date
0       1        1     4.0  2000-07-30 18:45:03
1       1        3     4.0  2000-07-30 18:20:47
2       1        6     4.0  2000-07-30 18:37:04
3       1       47     5.0  2000-07-30 19:03:35
4       1       50     5.0  2000-07-30 18:48:51
5       1       70     3.0  2000-07-30 18:40:00
6       1      101     5.0  2000-07-30 18:14:28
7       1      110     4.0  2000-07-30 18:36:16
8       1      151     5.0  2000-07-30 19:07:21
9       1      157     5.0  2000-07-30 19:08:20

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [ ]:
ex_set = {1, 2, 3, 4, 5}
set_ex_two = {3, 4, 5, 6, 7, 8, 9}
# смотрим на пересечение справа
print(set_ex_two.difference(ex_set))
# смотирм на пересечение 
print(ex_set.intersection(set_ex_two))
# смотрим на обьединение
print(ex_set.union(set_ex_two))
# смотрим на разницу слева
print(ex_set.difference(set_ex_two))

{8, 9, 6, 7}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2}

## Метод обьединения .join()

### .join()



        other — таблица, которую мы присоединяем. При объединении она является «правой», а исходная таблица, от имени которой вызывается метод, является «левой».
        how — параметр типа объединения. Он может принимать значения 'inner', 'left' (left outer), 'right' (right outer), и 'outer' (full outer). По умолчанию параметр установлен на 'left'.
        on — параметр, который определяет, по какому столбцу в «левой» таблице происходит объединение по индексам из «правой».
        lsuffix и rsuffix — дополнения (суффиксы) к названиям одноимённых столбцов в «левой» и «правой» таблицах.

In [5]:
# тренируемся в присоединении способом 'left outer'
joined_df = raitings_dates.join(
    movies_df,
    how='left',
    rsuffix='_right'
)

display(joined_df.head(15))
display(joined_df)

,userId,movieId,rating,date,movieId_right,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3.0,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5.0,Father of the Bride Part II (1995),Comedy
5,1,70,3.0,2000-07-30 18:40:00,6.0,Heat (1995),Action|Crime|Thriller
6,1,101,5.0,2000-07-30 18:14:28,7.0,Sabrina (1995),Comedy|Romance
7,1,110,4.0,2000-07-30 18:36:16,8.0,Tom and Huck (1995),Adventure|Children
8,1,151,5.0,2000-07-30 19:07:21,9.0,Sudden Death (1995),Action
9,1,157,5.0,2000-07-30 19:08:20,10.0,GoldenEye (1995),Action|Adventure|Thriller
10,1,163,5.0,2000-07-30 19:00:50,11.0,"American President, The (1995)",Comedy|Drama|Romance
11,1,216,5.0,2000-07-30 18:20:08,12.0,Dracula: Dead and Loving It (1995),Comedy|Horror
12,1,223,3.0,2000-07-30 18:16:25,13.0,Balto (1995),Adventure|Animation|Children
13,1,231,5.0,2000-07-30 18:19:39,14.0,Nixon (1995),Drama
14,1,235,4.0,2000-07-30 18:15:08,15.0,Cutthroat Island (1995),Action|Adventure|Romance

,userId,movieId,rating,date,movieId_right,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3.0,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...,...
100832,610,166534,4.0,2017-05-03 22:21:31,NaN,NaN,NaN
100833,610,168248,5.0,2017-05-08 19:50:47,NaN,NaN,NaN
100834,610,168250,5.0,2017-05-03 21:19:12,NaN,NaN,NaN
100835,610,168252,5.0,2017-05-03 21:20:15,NaN,NaN,NaN
100836,610,170875,3.0,NaN,NaN,NaN,NaN

In [10]:
# тренирируемся в присоединении способом 'right outer'
joined_df = raitings_dates.join(
    movies_df,
    how='right',
    lsuffix='_left'
)

display(joined_df.head(10))
display(joined_df.tail(10))
display(movies_df)

,userId,movieId_left,rating,date,movieId,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5,Father of the Bride Part II (1995),Comedy
5,1,70,3.0,2000-07-30 18:40:00,6,Heat (1995),Action|Crime|Thriller
6,1,101,5.0,2000-07-30 18:14:28,7,Sabrina (1995),Comedy|Romance
7,1,110,4.0,2000-07-30 18:36:16,8,Tom and Huck (1995),Adventure|Children
8,1,151,5.0,2000-07-30 19:07:21,9,Sudden Death (1995),Action
9,1,157,5.0,2000-07-30 19:08:20,10,GoldenEye (1995),Action|Adventure|Thriller

,userId,movieId_left,rating,date,movieId,title,genres
9732,64,3396,4.0,2006-10-23 01:09:27,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9733,64,3408,2.0,2006-10-22 12:39:21,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama
9734,64,3418,3.5,2006-10-22 12:49:38,193571,Silver Spoon (2014),Comedy|Drama
9735,64,3421,4.5,2006-10-22 14:53:52,193573,Love Live! The School Idol Movie (2015),Animation
9736,64,3450,3.5,2006-10-23 01:13:40,193579,Jon Stewart Has Left the Building (2015),Documentary
9737,64,3481,4.0,2006-10-22 12:37:45,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,64,3489,3.0,2006-10-22 23:28:09,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,64,3499,4.5,2006-10-22 23:26:41,193585,Flint (2017),Drama
9740,64,3510,3.0,2006-10-22 23:27:26,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,64,3526,4.0,2006-10-23 01:23:47,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [12]:
# создаем присоединение по ключевому признаку
joined_df = raitings_dates.join(
    movies_df.set_index('movieId'),
    on='movieId',
    how='left'
)

display(joined_df.head(15))
display(joined_df.tail(15))

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
5,1,70,3.0,2000-07-30 18:40:00,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
6,1,101,5.0,2000-07-30 18:14:28,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
7,1,110,4.0,2000-07-30 18:36:16,Braveheart (1995),Action|Drama|War
8,1,151,5.0,2000-07-30 19:07:21,Rob Roy (1995),Action|Drama|Romance|War
9,1,157,5.0,2000-07-30 19:08:20,Canadian Bacon (1995),Comedy|War
10,1,163,5.0,2000-07-30 19:00:50,Desperado (1995),Action|Romance|Western
11,1,216,5.0,2000-07-30 18:20:08,Billy Madison (1995),Comedy
12,1,223,3.0,2000-07-30 18:16:25,Clerks (1994),Comedy
13,1,231,5.0,2000-07-30 18:19:39,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy
14,1,235,4.0,2000-07-30 18:15:08,Ed Wood (1994),Comedy|Drama

,userId,movieId,rating,date,title,genres
100822,610,160527,4.5,2017-05-03 21:55:37,Sympathy for the Underdog (1971),Action|Crime|Drama
100823,610,160571,3.0,2017-05-03 20:53:14,Lights Out (2016),Horror
100824,610,160836,3.0,2017-05-03 21:42:39,Hazard (2005),Action|Drama|Thriller
100825,610,161582,4.0,2017-05-03 21:52:42,Hell or High Water (2016),Crime|Drama
100826,610,161634,4.0,2017-05-03 22:19:31,Don't Breathe (2016),Thriller
100827,610,162350,3.5,2017-05-03 21:59:49,The Magnificent Seven (2016),Action|Western
100828,610,163937,3.5,2017-05-03 22:22:35,Blair Witch (2016),Horror|Thriller
100829,610,163981,3.5,2017-05-03 21:07:11,31 (2016),Horror
100830,610,164179,5.0,2017-05-04 06:29:25,Arrival (2016),Sci-Fi
100831,610,166528,4.0,2017-05-03 21:53:22,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi
100832,610,166534,4.0,2017-05-03 22:21:31,Split (2017),Drama|Horror|Thriller
100833,610,168248,5.0,2017-05-08 19:50:47,John Wick: Chapter Two (2017),Action|Crime|Thriller
100834,610,168250,5.0,2017-05-03 21:19:12,Get Out (2017),Horror
100835,610,168252,5.0,2017-05-03 21:20:15,Logan (2017),Action|Sci-Fi
100836,610,170875,3.0,NaN,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

## Метод обьединения merge

### .merge()



            right — присоединяемая таблица. По умолчанию она является «правой».
            how — параметр типа объединения. По умолчанию принимает значение 'inner'.
            on — параметр, который определяет, по какому столбцу происходит объединение. Определяется автоматически, но рекомендуется указывать вручную.
            left_on — если названия столбцов в «левой» и «правой» таблицах не совпадают, то данный параметр отвечает за наименования ключевого столбца исходной таблицы.
            right_on — аналогично предыдущему, параметр отвечает за наименование ключевого столбца присоединяемой таблицы.

In [26]:
# произведем слияние более гибким способом в отличии от .join()
merged = raitings_dates.merge(
    movies_df,
    on='movieId',
    how='left'
)
# проверяем, что мы получаем правельно соединенную таблицу
display(merged)

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100832,610,166534,4.0,2017-05-03 22:21:31,Split (2017),Drama|Horror|Thriller
100833,610,168248,5.0,2017-05-08 19:50:47,John Wick: Chapter Two (2017),Action|Crime|Thriller
100834,610,168250,5.0,2017-05-03 21:19:12,Get Out (2017),Horror
100835,610,168252,5.0,2017-05-03 21:20:15,Logan (2017),Action|Sci-Fi
100836,610,170875,3.0,NaN,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [27]:
print(f'Количестов строк в таблице raitings_dates: {raitings_dates.shape[0]}')
print(f'Количество строк в таблице merged: {merged.shape[0]}')
print(raitings_dates.shape[0] == merged.shape[0])

Количестов строк в таблице raitings_dates: 100837
Количество строк в таблице merged: 100837
True

### Особенности использования merge()

In [29]:
merged_full = raitings_dates.merge(
    movies_df,
    on='movieId',
    how='outer'
)
# видим, что количество строк в исходной таблице увеличелось
print(f'Число строк в таблице merged_full: {merged_full.shape[0]}')
display(merged_full.tail())

Число строк в таблице merged_full: 100855

,userId,movieId,rating,date,title,genres
100850,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary
100851,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy
100852,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir
100853,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama
100854,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance

In [ ]:
# метод .merge() работатет как при соединение таблицы методом .concat()
# запоминаем, что при параметре how='outer' вторая таблица будет полностью
# соединена с первой и пойдет в конец
# при этом все столбцы должны быть ключевыми т.е одинаковыми
merge_raitings = raitings1_df.merge(raitings2_df, how='outer')
print(f'Число строк в таблице merge_raitings: {merge_raitings.shape[0]}')
display(merge_raitings)

Число строк в таблице merge_raitings: 100836

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]